GameLister.sln
.vs/GameLister/project-colors.json
.vs/GameLister/DesignTimeBuild/.dtbcache.v2
.vs/GameLister/v17/.futdcache.v1
.vs/GameLister/v17/.suo
GameLister/bin/Debug/
GameLister/GameLister.csproj
GameLister/obj/
